$titlesection: #ff4c68;
$montserrat: "Montserrat-Black",
sans-serif;
$ubuntu: "Ubuntu",
sans-serif;

body {
    font-family: $montserrat;
}

#title {
    background-color: $titlesection;
    color: white;
    position: relative;

    h1 {
        font-size: 3rem;
        line-height: 1.5;
        font-weight: 800;
    }

    img {
        width: 60%;
        transform: rotate(20deg);
    }

    button {
        margin: 5% 3% 5% 0;
    }
}

.navbar-brand {
    font-size: 2rem;
    font-family: $ubuntu;
    font-weight: 500;
}

.navbar {
    padding-bottom: 10%;
}

.nav-item {
    padding-left: 8%;
}

.container-fluid {
    padding: 3% 15%;
}

#features {
    padding: 10% 0 0;
    margin-bottom: 5%;
    z-index: 1;

    h3 {
        font-size: 1.5 rem;
        font-weight: 800;
        text-align: center;
    }

    p {
        color: #8f8f8f;
        text-align: center;
        font-size: 1rem;
    }
}

#testimonials {
    
    text-align: center;
    color: antiquewhite;
    background-color: $titlesection;

    img {
        width: 8%;
        border-radius: 100%;
        margin-right: 20px;
    }

    h2 {
        font-weight: 600;
        font-size: 2.5rem;
    }
    
    .carousel-item{
        padding: 15% 20%;
    }
}

#press {
    background-color: $titlesection;
    text-align: center;
    padding-bottom: 5%;

    img {
        width: 15%;
        margin: 0 20px;

    }
}